*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 20px;
  font-family: "Hanken Grotesk",Arial,sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  display: flex;
  justify-content: center;
  height: 100vh;
}