*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 20px;
  font-family: "Hanken Grotesk",Arial,sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  display: flex;
  justify-content: center;
  height: 100vh;
}
header {
    text-align: center;
}

header > h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #F9F4DA;
}

header > p {
    font-size: 0.875rem;
    max-width: 350px;
    color: #8E8E8E;
}
section.game-status {
  background-color: #10A95B;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F9F4DA;
  border-radius: 5px;
  margin-block: 30px;
}
section.game-status > h1{
  margin: 5px;
  font-size: 1.25rem;
 
}
section.game-status > p{
  margin: 5px;
}
section.language-chips{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 350px;
}
span.chips{
  border-radius: 5px;
  padding: 4.5px;
}